<h1 class="h1 text-center mt-2">Modelos</h1>
<div class="mt-2">
  <button class="btn btn-primary" type="button" (click)="cambiar()">Añadir</button>
</div>


<div class="my-3" *ngIf="mostrar">
  <form class="row g-3 text-center" (ngSubmit)="insertarModelo()" #formularioEvento="ngForm">
    <div class="col-12">
      <label for="nombre" class="form-label h2">Modelo </label>
      <select class="form-select" aria-label="Default select example" [(ngModel)]="nuevoModelo.id_marca" name="id_marca" required>
        <option disabled>Elige un modelo</option>
        <option *ngFor="let marcas of listaMarcas" [value]="marcas.id_marca">{{marcas.nombre_marca}}</option>
      </select>

      <label for="nombre" class="form-label h2">Marca </label>
      <!-- El ngModel sirve para relacionar el valor que ingreses en el input con el precio que esta en eventos.component.ts y se relaciona con la interfaz-->
      <!-- el primero parametro del ngClass esta relacionado con #precio="ngModel"-->
      <!-- Para usar el ngClass es necesario crear la funcion validClasses en el eventos.components.ts -->
      <input type="text" class="form-control text-center" id="nombre" name="nombre" [(ngModel)]="nuevoModelo.nombre_modelo"
        placeholder="Ingresa el nombre de una Marca" required #nombre="ngModel" minlength="1" maxlength="100"
        [ngClass]="validClasses(nombre, 'is-valid', 'is-invalid')">
      <div *ngIf="nombre.touched && nombre.invalid" class="alert alert-danger">
        Marca requerida (entre 1 y 60 caracteres)
      </div>
    </div>
    <div class="col-12">
      <!-- el disable sirve para desabilitar el boton hasta que todos los campos esten llenos -->
      <button type="submit" class="btn btn-success mb-3 w-100" [disabled]="!formularioEvento.form.valid">Añadir</button>
    </div>
  </form>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Marcas</th>
    <th scope="col">Modelos</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let modelos of listaModelos; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <!--
      <td>
         marcas.id_marca
      </td>
    -->
    <td>{{ modelos.marca.nombre_marca }}</td>
    <td>{{ modelos.nombre_modelo }}</td>
    <!-- <td><i (click)="eliminarMarca(marcas.id_marca)" class="bi bi-trash3-fill btn btn-outline-danger"></i></td> -->
  </tr>
  </tbody>
</table>


