<form class="pt-4 text-center" role="form" (ngSubmit)="login()">
  <legend>Bienvenido/a!</legend>
  <div class="form-group mt-5">
  <label for="email">Email:</label>
  <input type="email" class="form-control text-center" id="email" name="correo" placeholder="Email" [(ngModel)]="correo">
  <label for="password">Password:</label>
  <input type="password" class="form-control text-center" id="password" name="password" placeholder="Password" [(ngModel)]="password">
  </div>
  <button type="submit" class="btn btn-primary mt-2">Login</button>
 </form>
